@page "/editor"
@implements IAsyncDisposable
@inject IJSRuntime JS

<style>

    #txDocumentEditorContainer {
        width: 1100px;
        height: 600px;
        display: inline-block;
        position: relative;
    }

</style>

<div id="txDocumentEditorContainer" @ref="txDocumentEditorContainer"></div>

@code {
    
   private ElementReference txDocumentEditorContainer;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await JS.InvokeVoidAsync("addEditorToElement", txDocumentEditorContainer);
        }
    }

    public async ValueTask DisposeAsync() {
    }

}